*{
    margin: 0;
}
button {
    padding: 15px 30px;
    font-size: 16pt;
    font-weight: 600;
    background-color: #f4ce14;
    color: #333;
    border-radius: 20px;
    border: none;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #10bb7c;
}